<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= producto.name %></title>
    <!--favicon-->
    <link rel="icon" href="/imagenes/logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/cssProduct.css" />
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
        integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/css.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cssNewProduct/app.css" />
    <link rel="stylesheet" href="/css/cssProduct.css" />
</head>
<body>
    <header>
        <!-- Navar Starts -->
        <section id="navar-section">
            <nav class="navbar navbar-expand-lg fixed-top menu menu--viola">
                <div class="container">
                    <a class="navbar-brand" href="#"><img class="logoHeaderProduct" src="/imagenes/logo.png" /></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="/" class="botonVolver nav-link fw-bold shadow s-d text-black btn-sm pd-btn btn">
                                    <i class="fas fa-arrow-left me-2"></i> Volver
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <!-- Navar Ended -->
    </header>
    <br><br><br>
    <div class="container">
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <div id="myCarousel-2" class="carousel slide">
                            <ol class="carousel-indicators">
                                <% producto.images.forEach((image, index) => { %>
                                    <li data-target="#myCarousel-2" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
                                <% }) %>
                            </ol>
                            <div class="carousel-inner">
                                <% producto.images.forEach((image, index) => { %>
                                    <div class="item <%= index === 0 ? 'active' : '' %> imagenProducto">
                                        <img src="<%= image %>" class="img-responsive" alt="<%= producto.name %>">
                                    </div>
                                <% }) %>
                            </div>
                            <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                            <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                    <h2 class="name">
                        <%= producto.nombre %>
                        <small>Product by <a href="javascript:void(0);"><%= producto.titulo %></a></small>
                        <% for(let i = 0; i < 5; i++) { %>
                            <i class="fa fa-star fa-2x <%= i < producto.rating ? 'text-primary' : 'text-muted' %>"></i>
                        <% } %>
                        <span class="fa fa-2x">
                            <h5>(<%= producto.votes %>) Votes</h5>
                        </span>
                        <a href="javascript:void(0);"><%= producto.reviews %> customer reviews</a>
                    </h2>
                    <hr />
                    <h3 class="price-container">
                        $<%= producto.price %>
                        <small>*includes tax</small>
                    </h3>
                    <div class="certified">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Plazo Entrega<span>/7 días hábiles </span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Certificado<span>Calidad Asegurada</span></a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="description description-tabs">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">
                                    Descripción Producto </a></li>
                            <li><a href="#especificaciones" data-toggle="tab">Especificaciones Técnicas</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="more-information">
                                <br />
                                <strong>Descripción</strong>
                                <p><%= producto.descripcion %></p>
                            </div>
                            <div class="tab-pane fade" id="especificaciones">
                                <br />
                                <% if (producto.especificaciones) { %>
                                    <dl>
                                        <% for (const [key, value] of Object.entries(producto.especificaciones)) { %>
                                            <% if (typeof value === 'object') { %>
                                                <% for (const [subKey, subValue] of Object.entries(value)) { %>
                                                    <dt><%= subKey %>:</dt>
                                                    <dd><%= subValue %></dd>
                                                <% } %>
                                            <% } else { %>
                                                <dt><%= key %>:</dt>
                                                <dd><%= value %></dd>
                                            <% } %>
                                        <% } %>
                                    </dl>
                                <% } else { %>
                                    <p>No hay especificaciones disponibles.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a href="javascript:void(0);" class="btn btn-success btn-lg">Comprar Amazon ($<%= producto.price %>)</a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="btn-group pull-right">
                                <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Añadir a Lista de Deseos</button>
                                <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contactar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda parte -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
                    <h5 class="mb-0 mb-4">Valoraciones Y Opiniones</h5>
                    <div class="graph-star-rating-header">
                        <div class="star-rating">
                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                            <a href="#"><i class="icofont-ui-rating active"></i></a>
                            <a href="#"><i class="icofont-ui-rating"></i></a> 
                            <b class="text-black ml-2">334 Valoraciones</b>
                        </div>
                        <p class="text-black mb-4 mt-2">Puntuación: 3.5 sobre 5</p>
                    </div>
                    <div class="graph-star-rating-body">
                        <div class="rating-list">
                            <div class="rating-list-left text-black">
                                5 Star
                            </div>
                            <div class="rating-list-center">
                                <div class="progress">
                                    <div style="width: 56%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5"
                                        role="progressbar" class="progress-bar bg-primary">
                                    </div>
                                </div>
                            </div>
                            <div class="rating-list-right text-black">56%</div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-left text-black">
                                4 Star
                            </div>
                            <div class="rating-list-center">
                                <div class="progress">
                                    <div style="width: 23%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5"
                                        role="progressbar" class="progress-bar bg-primary">
                                    </div>
                                </div>
                            </div>
                            <div class="rating-list-right text-black">23%</div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-left text-black">
                                3 Star
                            </div>
                            <div class="rating-list-center">
                                <div class="progress">
                                    <div style="width: 11%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5"
                                        role="progressbar" class="progress-bar bg-primary">
                                    </div>
                                </div>
                            </div>
                            <div class="rating-list-right text-black">11%</div>
                        </div>
                        <div class="rating-list">
                            <div class="rating-list-left text-black">
                                2 Star
                            </div>
                            <div class="rating-list-center">
                                <div class="progress">
                                    <div style="width: 2%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5"
                                        role="progressbar" class="progress-bar bg-primary">
                                    </div>
                                </div>
                            </div>
                            <div class="rating-list-right text-black">02%</div>
                        </div>
                    </div>
                    <div class="graph-star-rating-footer text-center mt-3 mb-3">
                        <button type="button" class="btn btn-outline-primary btn-sm">Rate and Review</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                    <a href="#" class="btn btn-outline-primary btn-sm float-right">Comentarios Destacados</a>
                    <br><br>
                    <h5 class="mb-1">Todos los Comentarios</h5>
                    <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <a href="#"><img alt="Generic placeholder image"
                                    src="imagenes/paginaProducto/avatar1.png"
                                    class="mr-3 rounded-pill"></a>
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <span class="star-rating float-right">
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating"></i></a>
                                    </span>
                                    <h6 class="mb-1"><a class="text-black" href="#">Singh Osahan</a></h6>
                                    <p class="text-gray">Lun, 20 Mar 2020</p>
                                </div>
                                <div class="reviews-members-body">
                                    <p>¡Increíble publicación! 🎮 Estaba pensando en comprar un portátil para gaming y después de leer esta reseña sobre el Acer Nitro V 15, ¡definitivamente lo haré! 😊 Gracias por compartir información tan detallada y útil. Estoy emocionado por la experiencia de juego que me espera. 🚀
                                    </p>
                                </div>
                                <div class="reviews-members-footer">
                                    <a class="total-like" href="#"><i class="icofont-thumbs-up"></i> 856M</a> <a
                                        class="total-like" href="#"><i class="icofont-thumbs-down"></i> 158K</a>
                                    <span class="total-like-user-main ml-2" dir="rtl">
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Gurdeep Osahan"><img alt="Generic placeholder image"
                                                src="imagenes/paginaProducto/avatar5.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Gurdeep Singh"><img alt="Generic placeholder image"
                                                src="imagenes/paginaProducto/avatar2.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Askbootstrap"><img alt="Generic placeholder image"
                                                src="imagenes/paginaProducto/avatar3.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Osahan"><img alt="Generic placeholder image"
                                                src="imagenes/paginaProducto/avatar4.png"
                                                class="total-like-user rounded-pill"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <a href="#"><img alt="Generic placeholder image"
                                    src="http://bootdey.com/img/Content/avatar/avatar6.png"
                                    class="mr-3 rounded-pill"></a>
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <span class="star-rating float-right">
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                                        <a href="#"><i class="icofont-ui-rating"></i></a>
                                    </span>
                                    <h6 class="mb-1"><a class="text-black" href="#">Gurdeep Singh</a></h6>
                                    <p class="text-gray">Mie, 20 Mar 2020</p>
                                </div>
                                <div class="reviews-members-body">
                                    <p>Quería compartir mi experiencia con el Portátil gaming Acer Nitro V 15. Estuve pensando en comprarlo y finalmente lo hice después de leer esta publicación. El rendimiento es impresionante, y la calidad de la pantalla hace que cada detalle cobre vida. La capacidad de hasta 32 GB de memoria realmente marca la diferencia. Definitivamente, una excelente elección para los amantes de los videojuegos.
                                    </p>
                                </div>
                                <div class="reviews-members-footer">
                                    <a class="total-like" href="#"><i class="icofont-thumbs-up"></i> 88K</a> <a
                                        class="total-like" href="#"><i class="icofont-thumbs-down"></i> 1K</a>
                                    <span class="total-like-user-main ml-2" dir="rtl">
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Gurdeep Osahan"><img alt="Generic placeholder image"
                                                src="http://bootdey.com/img/Content/avatar/avatar5.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Gurdeep Singh"><img alt="Generic placeholder image"
                                                src="http://bootdey.com/img/Content/avatar/avatar2.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Askbootstrap"><img alt="Generic placeholder image"
                                                src="http://bootdey.com/img/Content/avatar/avatar3.png"
                                                class="total-like-user rounded-pill"></a>
                                        <a data-toggle="tooltip" data-placement="top" title href="#"
                                            data-original-title="Osahan"><img alt="Generic placeholder image"
                                                src="http://bootdey.com/img/Content/avatar/avatar4.png"
                                                class="total-like-user rounded-pill"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">Ver Más Comentarios</a>
                </div>
            </div>
        </div>

        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                    <h5 class="mb-4">Deja Tu Comentario</h5>
                    <p class="mb-2">Valora El Producto</p>
                    <div class="mb-4">
                        <span class="star-rating">
                            <i class="fa fa-star" data-value="1"></i>
                            <i class="fa fa-star" data-value="2"></i>
                            <i class="fa fa-star" data-value="3"></i>
                            <i class="fa fa-star" data-value="4"></i>
                            <i class="fa fa-star" data-value="5"></i>
                        </span>
                    </div>
                    <form>
                        <div class="form-group">
                            <label>Tu Comentario</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="button"> Enviar Comentario </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.star-rating .fa').on('click', function(){
                var rating = $(this).data('value');
                $(this).siblings().removeClass('checked');
                $(this).addClass('checked');
                $(this).prevAll().addClass('checked');
                // Guardar la valoración en un input oculto o enviarla al servidor
                console.log('Valoración: ' + rating);
            });
        });
    </script>
</body>
</html>
